.DS_Store
80846/Apr. 16 - 1st/report/report.synctex.gz
80846/Apr. 16 - 1st/report/report.log
80846/Apr. 16 - 1st/report/report.fls
80846/Apr. 16 - 1st/report/report.fdb_latexmk
80846/Apr. 16 - 1st/report/report.aux
80846/Apr. 16 - 1st/slprj/
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
80846/slprj/
